@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Data;
@using CRUD_Operations.Areas.LOC_Country.Models;
@model DataTable;
<style>
    .btn-add {
        margin-top: 20px;
    }

    .text {
        border: none;
        background-color: white;
        color: blue;
    }
</style>

<div>
    <form method="post" asp-area="LOC_State" asp-controller="State" asp-action="StateList">
        <select name="CountryID" id="selectedCountry">
            <option value=null>Select Country</option>
            @foreach (CountryModel countryModel in ViewBag.CountryList)
            {
                <option value="@countryModel.CountryID">@countryModel.CountryName</option>
            }
        </select>
        <input type="text" name="stateCode" id="stateCode" placeholder="Search State Code" />

        <button>Search</button>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <a class="btn btn-info btn-add" asp-asp-area="LOC_State" asp-controller="State" asp-action="AddEdit">Add</a>
        </tr>
        <tr>
            <th scope="col">State ID</th>
            <th scope="col">State Name</th>
            <th scope="col">State Code</th>
            <th scope="col">Country Name</th>
            <th scope="col">Created</th>
            <th scope="col">Modified</th>
            <th scope="col" colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (DataRow dr in Model.Rows)
            {
                <tr>
                    <td>@dr["StateID"]</td>
                    <td>
                        <form method="post" asp-area="LOC_State" asp-controller="State" , asp-action="SelectByID">
                            <input type="hidden" name="StateId" value="@int.Parse(@dr["StateID"].ToString())">
                            <input type="submit" value="@dr["StateName"]" class="text" />
                        </form>
                    </td>
                    <td>@dr["StateCode"]</td>
                    <td>@dr["CountryName"]</td>
                    <td>@Convert.ToDateTime(dr["Created"]).ToString("d")</td>
                    <td>@Convert.ToDateTime(dr["Modified"]).ToString("d")</td>
                    <td>
                        <form method="post" asp-asp-area="LOC_State" asp-controller="State" , asp-action="StateDeleteRecord">
                            <input type="hidden" name="StateID" value="@int.Parse(@dr["StateID"].ToString())">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </form>
                    </td>
                    <td>
                        <form method="post" asp-area="LOC_State" asp-controller="State" , asp-action="StateAddEdit">
                            <input type="hidden" name="StateID" value="@int.Parse(@dr["StateID"].ToString())">
                            <input type="submit" value="Edit" class="btn btn-success" />
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>

</table>


  

