
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Data;
@model DataTable
<table class="table">
    <thead>
        <tr>
            <th scope="col">State ID</th>
            <th scope="col">State Name</th>
            <th scope="col">State Code</th>
            <th scope="col">Country Name</th>
            <th scope="col">Created</th>
            <th scope="col">Modified</th>

        </tr>
    </thead>
    <tbody>
        @{
            foreach (DataRow dr in Model.Rows)
            {
                <tr>
                    <td>@dr["StateID"]</td>
                    <td>@dr["StateName"]</td>
                    <td>@dr["StateCode"]</td>
                    <td>@dr["CountryName"]</td>
                    <td>@Convert.ToDateTime(dr["Created"]).ToString("d")</td>
                    <td>@Convert.ToDateTime(dr["Modified"]).ToString("d")</td>
                </tr>
            }
        }

</table>



