@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Data
@using CRUD_Operations.Areas.LOC_Country.Models
@model StateModel


<form method="post" asp-area="LOC_State" asp-controller="State" asp-action="StateAddEditMethod">
    <table>
        <tr>
            <td>
                State Name
            </td>
            <td>:</td>
            <td>
                <input type="text" value="@Model.StateName" asp-for="@Model.StateName"  />
            </td>
        </tr>
        <tr>
            <td>
                State Code
            </td>
            <td>:</td>
            <td>
                <input type="text" value="@Model.StateCode" asp-for="@Model.StateCode"  />
            </td>
        </tr>

        <tr>
            <td>
                Select Country
            </td>
            <td>:</td>
            <td>
               <select asp-for="@Model.CountryID">
                    @foreach(CountryModel countryModel in ViewBag.CountryList)
                    {
                        <option value="@countryModel.CountryID">@countryModel.CountryName</option>
                    }
                </select>
            </td>
        </tr>

        <tr>

            <td>
                <input type="hidden" name="StateID" value="@Model.StateID" />
                <input type="submit" class="btn btn-primary" />
            </td>
        </tr>
    </table>
</form>


